{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <input name="query" id="query" placeholder="Find a record" class="form-control">
        </div>
        <input type="hidden" name="limit" id="limit" value="30">
        <input type="hidden" name="page" id="page" value="1">
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
{% endblock %}

